<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Register_LoginWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Register_LoginWebServiceSoap1" />
        <binding name="GetNewIDWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="GetNewIDWebServiceSoap1" />
        <binding name="MaterialWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="MaterialWebServiceSoap1" />
        <binding name="BlanketWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="BlanketWebServiceSoap1" />
        <binding name="OrderWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="OrderWebServiceSoap1" />
        <binding name="SellerInventoryWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="SellerInventoryWebServiceSoap1" />
        <binding name="DistributerInventoryWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="DistributerInventoryWebServiceSoap1" />
        <binding name="SellerManagementWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="SellerManagementWebServiceSoap1" />
        <binding name="SellerRequestsWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="SellerRequestsWebServiceSoap1" />
        <binding name="ManufacturerInventoryWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ManufacturerInventoryWebServiceSoap1" />
        <binding name="DistributerRequestsWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="DistributerRequestsWebServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44306/Register_LoginWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="Register_LoginWebServiceSoap"
        contract="RegisterLoginServiceReference.Register_LoginWebServiceSoap"
        name="Register_LoginWebServiceSoap" />
      <endpoint address="https://localhost:44306/GetNewIDWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="GetNewIDWebServiceSoap"
        contract="NewIDServiceReference.GetNewIDWebServiceSoap" name="GetNewIDWebServiceSoap" />
      <endpoint address="https://localhost:44306/MaterialWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="MaterialWebServiceSoap"
        contract="MaterialServiceReference.MaterialWebServiceSoap" name="MaterialWebServiceSoap" />
      <endpoint address="https://localhost:44306/BlanketWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BlanketWebServiceSoap"
        contract="BlanketServiceReference.BlanketWebServiceSoap" name="BlanketWebServiceSoap" />
      <endpoint address="https://localhost:44306/OrderWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="OrderWebServiceSoap"
        contract="OrderServiceReference.OrderWebServiceSoap" name="OrderWebServiceSoap" />
      <endpoint address="https://localhost:44306/SellerInventoryWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SellerInventoryWebServiceSoap"
        contract="SellerInventoryServiceReference.SellerInventoryWebServiceSoap"
        name="SellerInventoryWebServiceSoap" />
      <endpoint address="https://localhost:44306/DistributerInventoryWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DistributerInventoryWebServiceSoap"
        contract="DistributerInventoryServiceReference.DistributerInventoryWebServiceSoap"
        name="DistributerInventoryWebServiceSoap" />
      <endpoint address="https://localhost:44306/SellerManagementWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SellerManagementWebServiceSoap"
        contract="SellerManagementServiceReference.SellerManagementWebServiceSoap"
        name="SellerManagementWebServiceSoap" />
      <endpoint address="https://localhost:44306/SellerRequestsWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SellerRequestsWebServiceSoap"
        contract="SellerRequestsServiceReference.SellerRequestsWebServiceSoap"
        name="SellerRequestsWebServiceSoap" />
      <endpoint address="https://localhost:44306/ManufacturerInventoryWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ManufacturerInventoryWebServiceSoap"
        contract="ManufacturerInventoryServiceReference.ManufacturerInventoryWebServiceSoap"
        name="ManufacturerInventoryWebServiceSoap" />
      <endpoint address="https://localhost:44306/DistributerRequestsWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DistributerRequestsWebServiceSoap"
        contract="DistributerRequestsServiceReference.DistributerRequestsWebServiceSoap"
        name="DistributerRequestsWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>