USE [SOC_Assignment]
GO
/****** Object:  Table [dbo].[BlanketsTable]    Script Date: 3/27/2026 4:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlanketsTable](
	[BlanketID] [nchar](10) NOT NULL,
	[BlanketModel] [nchar](50) NULL,
	[MaterialID] [nchar](10) NULL,
	[Capasity] [int] NULL,
	[Price] [nchar](10) NULL,
 CONSTRAINT [PK_BlanketsTable] PRIMARY KEY CLUSTERED 
(
	[BlanketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistributerInventoryTable]    Script Date: 3/27/2026 4:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistributerInventoryTable](
	[DistributerInventoryID] [nchar](10) NOT NULL,
	[DistributerID] [int] NULL,
	[BlanketID] [nchar](10) NULL,
	[CurrentQty] [int] NULL,
 CONSTRAINT [PK_DistributerInventoryTable] PRIMARY KEY CLUSTERED 
(
	[DistributerInventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistributerRequestTable]    Script Date: 3/27/2026 4:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistributerRequestTable](
	[DistributerRrequestID] [int] IDENTITY(1,1) NOT NULL,
	[DistributerID] [int] NULL,
	[BlanketID] [nchar](10) NULL,
	[RequestQty] [int] NULL,
	[Status] [nchar](50) NULL,
	[UpdateDate] [date] NULL,
	[Note] [nchar](50) NULL,
 CONSTRAINT [PK_DistributerRequestTable] PRIMARY KEY CLUSTERED 
(
	[DistributerRrequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistributersTable]    Script Date: 3/27/2026 4:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistributersTable](
	[DistributerID] [int] IDENTITY(1,1) NOT NULL,
	[DistributerName] [nchar](50) NULL,
	[DistributerEmail] [nchar](50) NULL,
	[Password] [nchar](10) NULL,
 CONSTRAINT [PK_DistributersTable] PRIMARY KEY CLUSTERED 
(
	[DistributerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManufacturerInventoryTable]    Script Date: 3/27/2026 4:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManufacturerInventoryTable](
	[ManufacturerInventoryID] [nchar](10) NOT NULL,
	[DistributerID] [int] NULL,
	[BlanketID] [nchar](10) NULL,
	[CurrentQty] [int] NULL,
 CONSTRAINT [PK_ManufacturerInventoryTable] PRIMARY KEY CLUSTERED 
(
	[ManufacturerInventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManufacturerTable]    Script Date: 3/27/2026 4:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManufacturerTable](
	[ManufacturerID] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerName] [nchar](50) NULL,
	[ManufacturerEmail] [nchar](50) NULL,
	[Password] [nchar](10) NULL,
 CONSTRAINT [PK_ManufacturerTable] PRIMARY KEY CLUSTERED 
(
	[ManufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialsTable]    Script Date: 3/27/2026 4:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialsTable](
	[MaterialID] [nchar](10) NOT NULL,
	[MaterialName] [nchar](50) NULL,
 CONSTRAINT [PK_MaterialsTable] PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdersTable]    Script Date: 3/27/2026 4:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersTable](
	[OrderID] [nchar](10) NOT NULL,
	[CustomerName] [nchar](50) NULL,
	[SellerID] [int] NULL,
	[BlanketID] [nchar](10) NULL,
	[Qty] [int] NULL,
	[Status] [nchar](50) NULL,
 CONSTRAINT [PK_OrdersTable] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellerInventoryTable]    Script Date: 3/27/2026 4:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerInventoryTable](
	[SellerInventoryID] [nchar](10) NOT NULL,
	[SellerID] [int] NULL,
	[BlanketID] [nchar](10) NULL,
	[CurrentQty] [int] NULL,
 CONSTRAINT [PK_SellerInventoryTable] PRIMARY KEY CLUSTERED 
(
	[SellerInventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellerManagementTable]    Script Date: 3/27/2026 4:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerManagementTable](
	[SellerManagementID] [int] IDENTITY(1,1) NOT NULL,
	[DistributerID] [int] NULL,
	[SellerID] [int] NULL,
 CONSTRAINT [PK_SellerManagementTable] PRIMARY KEY CLUSTERED 
(
	[SellerManagementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellerRequestsTable]    Script Date: 3/27/2026 4:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerRequestsTable](
	[SellerRequestID] [int] IDENTITY(1,1) NOT NULL,
	[SellerID] [int] NULL,
	[BlanketID] [nchar](10) NULL,
	[RequestQty] [int] NULL,
	[Status] [nchar](50) NULL,
	[UpdateDate] [date] NULL,
	[Note] [nchar](50) NULL,
 CONSTRAINT [PK_SellerRequestsTable] PRIMARY KEY CLUSTERED 
(
	[SellerRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellersTable]    Script Date: 3/27/2026 4:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellersTable](
	[SellerID] [int] IDENTITY(1,1) NOT NULL,
	[SellerName] [nchar](50) NULL,
	[SellerEmail] [nchar](50) NULL,
	[Password] [nchar](10) NULL,
 CONSTRAINT [PK_SellersTable] PRIMARY KEY CLUSTERED 
(
	[SellerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BlanketsTable] ([BlanketID], [BlanketModel], [MaterialID], [Capasity], [Price]) VALUES (N'B001      ', N'Cotton Throw                                      ', N'M001      ', 100, N'300       ')
INSERT [dbo].[BlanketsTable] ([BlanketID], [BlanketModel], [MaterialID], [Capasity], [Price]) VALUES (N'B002      ', N'Flannel Throw                                     ', N'M003      ', 200, N'200       ')
INSERT [dbo].[BlanketsTable] ([BlanketID], [BlanketModel], [MaterialID], [Capasity], [Price]) VALUES (N'B003      ', N'Mink Blanket                                      ', N'M002      ', 50, N'400       ')
GO
INSERT [dbo].[DistributerInventoryTable] ([DistributerInventoryID], [DistributerID], [BlanketID], [CurrentQty]) VALUES (N'D001      ', 1, N'B001      ', 500)
INSERT [dbo].[DistributerInventoryTable] ([DistributerInventoryID], [DistributerID], [BlanketID], [CurrentQty]) VALUES (N'D002      ', 1, N'B002      ', 125)
INSERT [dbo].[DistributerInventoryTable] ([DistributerInventoryID], [DistributerID], [BlanketID], [CurrentQty]) VALUES (N'D003      ', 1, N'B003      ', 30)
GO
SET IDENTITY_INSERT [dbo].[DistributerRequestTable] ON 

INSERT [dbo].[DistributerRequestTable] ([DistributerRrequestID], [DistributerID], [BlanketID], [RequestQty], [Status], [UpdateDate], [Note]) VALUES (1, 1, N'B002      ', 100, N'Confirmed                                         ', CAST(N'2025-07-09' AS Date), NULL)
INSERT [dbo].[DistributerRequestTable] ([DistributerRrequestID], [DistributerID], [BlanketID], [RequestQty], [Status], [UpdateDate], [Note]) VALUES (2, 1, N'B003      ', 50, N'Rejected                                          ', CAST(N'2025-07-11' AS Date), N'Cant provide now.                                 ')
INSERT [dbo].[DistributerRequestTable] ([DistributerRrequestID], [DistributerID], [BlanketID], [RequestQty], [Status], [UpdateDate], [Note]) VALUES (3, 2, N'B002      ', 60, N'Rejected                                          ', CAST(N'2025-06-27' AS Date), N'capacity is low.                                  ')
SET IDENTITY_INSERT [dbo].[DistributerRequestTable] OFF
GO
SET IDENTITY_INSERT [dbo].[DistributersTable] ON 

INSERT [dbo].[DistributersTable] ([DistributerID], [DistributerName], [DistributerEmail], [Password]) VALUES (1, N'Levi Akarman                                      ', N'Levi@gmail.com                                    ', N'Levi@123  ')
INSERT [dbo].[DistributersTable] ([DistributerID], [DistributerName], [DistributerEmail], [Password]) VALUES (2, N'Hnage Zoe                                         ', N'Hange@gmail.com                                   ', N'Hange123@ ')
INSERT [dbo].[DistributersTable] ([DistributerID], [DistributerName], [DistributerEmail], [Password]) VALUES (3, N'Indrani Kumarasingha                              ', N'Indrani@gmail.com                                 ', N'Ind@123   ')
SET IDENTITY_INSERT [dbo].[DistributersTable] OFF
GO
INSERT [dbo].[ManufacturerInventoryTable] ([ManufacturerInventoryID], [DistributerID], [BlanketID], [CurrentQty]) VALUES (N'M001      ', NULL, N'B001      ', 150)
INSERT [dbo].[ManufacturerInventoryTable] ([ManufacturerInventoryID], [DistributerID], [BlanketID], [CurrentQty]) VALUES (N'M002      ', NULL, N'B002      ', 300)
INSERT [dbo].[ManufacturerInventoryTable] ([ManufacturerInventoryID], [DistributerID], [BlanketID], [CurrentQty]) VALUES (N'M003      ', NULL, N'B003      ', 500)
GO
SET IDENTITY_INSERT [dbo].[ManufacturerTable] ON 

INSERT [dbo].[ManufacturerTable] ([ManufacturerID], [ManufacturerName], [ManufacturerEmail], [Password]) VALUES (1, N'Erwin Smith                                       ', N'Erwin@gmail.com                                   ', N'Erwin123@ ')
INSERT [dbo].[ManufacturerTable] ([ManufacturerID], [ManufacturerName], [ManufacturerEmail], [Password]) VALUES (2, N'Adolf Hitler                                      ', N'Hitler@gmail.com                                  ', N'Hit@123   ')
SET IDENTITY_INSERT [dbo].[ManufacturerTable] OFF
GO
INSERT [dbo].[MaterialsTable] ([MaterialID], [MaterialName]) VALUES (N'M001      ', N'Cotton                                            ')
INSERT [dbo].[MaterialsTable] ([MaterialID], [MaterialName]) VALUES (N'M002      ', N'Polyester                                         ')
INSERT [dbo].[MaterialsTable] ([MaterialID], [MaterialName]) VALUES (N'M003      ', N'Flannel                                           ')
GO
INSERT [dbo].[OrdersTable] ([OrderID], [CustomerName], [SellerID], [BlanketID], [Qty], [Status]) VALUES (N'C001      ', N'Shawn Mendis                                      ', 1, N'B001      ', 80, N'Confirmed                                         ')
INSERT [dbo].[OrdersTable] ([OrderID], [CustomerName], [SellerID], [BlanketID], [Qty], [Status]) VALUES (N'C002      ', N'Camila Cabello                                    ', 1, N'B003      ', 10, N'Approved                                          ')
INSERT [dbo].[OrdersTable] ([OrderID], [CustomerName], [SellerID], [BlanketID], [Qty], [Status]) VALUES (N'C003      ', N'Taylor Swift                                      ', 2, N'B002      ', 200, N'Pending                                           ')
GO
INSERT [dbo].[SellerInventoryTable] ([SellerInventoryID], [SellerID], [BlanketID], [CurrentQty]) VALUES (N'S001      ', 1, N'B001      ', 145)
INSERT [dbo].[SellerInventoryTable] ([SellerInventoryID], [SellerID], [BlanketID], [CurrentQty]) VALUES (N'S002      ', 1, N'B002      ', 30)
INSERT [dbo].[SellerInventoryTable] ([SellerInventoryID], [SellerID], [BlanketID], [CurrentQty]) VALUES (N'S003      ', 1, N'B004      ', 35)
GO
SET IDENTITY_INSERT [dbo].[SellerManagementTable] ON 

INSERT [dbo].[SellerManagementTable] ([SellerManagementID], [DistributerID], [SellerID]) VALUES (2, 1, 2)
INSERT [dbo].[SellerManagementTable] ([SellerManagementID], [DistributerID], [SellerID]) VALUES (3, 1, 1)
INSERT [dbo].[SellerManagementTable] ([SellerManagementID], [DistributerID], [SellerID]) VALUES (6, 3, 4)
SET IDENTITY_INSERT [dbo].[SellerManagementTable] OFF
GO
SET IDENTITY_INSERT [dbo].[SellerRequestsTable] ON 

INSERT [dbo].[SellerRequestsTable] ([SellerRequestID], [SellerID], [BlanketID], [RequestQty], [Status], [UpdateDate], [Note]) VALUES (1, 1, N'B001      ', 100, N'Confirmed                                         ', CAST(N'2025-06-29' AS Date), NULL)
INSERT [dbo].[SellerRequestsTable] ([SellerRequestID], [SellerID], [BlanketID], [RequestQty], [Status], [UpdateDate], [Note]) VALUES (2, 1, N'B002      ', 50, N'Rejected                                          ', CAST(N'2025-06-26' AS Date), NULL)
INSERT [dbo].[SellerRequestsTable] ([SellerRequestID], [SellerID], [BlanketID], [RequestQty], [Status], [UpdateDate], [Note]) VALUES (3, 3, N'B003      ', 100, N'Pending                                           ', NULL, NULL)
SET IDENTITY_INSERT [dbo].[SellerRequestsTable] OFF
GO
SET IDENTITY_INSERT [dbo].[SellersTable] ON 

INSERT [dbo].[SellersTable] ([SellerID], [SellerName], [SellerEmail], [Password]) VALUES (1, N'Eren Yegar                                        ', N'Eren@gmail.com                                    ', N'Eren123@  ')
INSERT [dbo].[SellersTable] ([SellerID], [SellerName], [SellerEmail], [Password]) VALUES (2, N'Mikasa Akarman                                    ', N'Mikasa@gmail.com                                  ', N'Mikasa123@')
INSERT [dbo].[SellersTable] ([SellerID], [SellerName], [SellerEmail], [Password]) VALUES (3, N'Reiner Braun                                      ', N'Reiner@gmail.com                                  ', N'Reiner123@')
SET IDENTITY_INSERT [dbo].[SellersTable] OFF
GO
ALTER TABLE [dbo].[BlanketsTable]  WITH CHECK ADD  CONSTRAINT [FK_BlanketsTable_MaterialsTable] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[MaterialsTable] ([MaterialID])
GO
ALTER TABLE [dbo].[BlanketsTable] CHECK CONSTRAINT [FK_BlanketsTable_MaterialsTable]
GO
ALTER TABLE [dbo].[DistributerInventoryTable]  WITH CHECK ADD  CONSTRAINT [FK_DistributerInventoryTable_BlanketsTable] FOREIGN KEY([BlanketID])
REFERENCES [dbo].[BlanketsTable] ([BlanketID])
GO
ALTER TABLE [dbo].[DistributerInventoryTable] CHECK CONSTRAINT [FK_DistributerInventoryTable_BlanketsTable]
GO
ALTER TABLE [dbo].[DistributerInventoryTable]  WITH CHECK ADD  CONSTRAINT [FK_DistributerInventoryTable_DistributersTable] FOREIGN KEY([DistributerID])
REFERENCES [dbo].[DistributersTable] ([DistributerID])
GO
ALTER TABLE [dbo].[DistributerInventoryTable] CHECK CONSTRAINT [FK_DistributerInventoryTable_DistributersTable]
GO
ALTER TABLE [dbo].[DistributerRequestTable]  WITH CHECK ADD  CONSTRAINT [FK_DistributerRequestTable_BlanketsTable] FOREIGN KEY([BlanketID])
REFERENCES [dbo].[BlanketsTable] ([BlanketID])
GO
ALTER TABLE [dbo].[DistributerRequestTable] CHECK CONSTRAINT [FK_DistributerRequestTable_BlanketsTable]
GO
ALTER TABLE [dbo].[DistributerRequestTable]  WITH CHECK ADD  CONSTRAINT [FK_DistributerRequestTable_DistributersTable] FOREIGN KEY([DistributerID])
REFERENCES [dbo].[DistributersTable] ([DistributerID])
GO
ALTER TABLE [dbo].[DistributerRequestTable] CHECK CONSTRAINT [FK_DistributerRequestTable_DistributersTable]
GO
ALTER TABLE [dbo].[OrdersTable]  WITH CHECK ADD  CONSTRAINT [FK_OrdersTable_BlanketsTable] FOREIGN KEY([BlanketID])
REFERENCES [dbo].[BlanketsTable] ([BlanketID])
GO
ALTER TABLE [dbo].[OrdersTable] CHECK CONSTRAINT [FK_OrdersTable_BlanketsTable]
GO
ALTER TABLE [dbo].[OrdersTable]  WITH CHECK ADD  CONSTRAINT [FK_OrdersTable_SellersTable] FOREIGN KEY([SellerID])
REFERENCES [dbo].[SellersTable] ([SellerID])
GO
ALTER TABLE [dbo].[OrdersTable] CHECK CONSTRAINT [FK_OrdersTable_SellersTable]
GO
ALTER TABLE [dbo].[SellerInventoryTable]  WITH CHECK ADD  CONSTRAINT [FK_SellerInventoryTable_BlanketsTable] FOREIGN KEY([BlanketID])
REFERENCES [dbo].[BlanketsTable] ([BlanketID])
GO
ALTER TABLE [dbo].[SellerInventoryTable] CHECK CONSTRAINT [FK_SellerInventoryTable_BlanketsTable]
GO
ALTER TABLE [dbo].[SellerInventoryTable]  WITH CHECK ADD  CONSTRAINT [FK_SellerInventoryTable_SellersTable] FOREIGN KEY([SellerID])
REFERENCES [dbo].[SellersTable] ([SellerID])
GO
ALTER TABLE [dbo].[SellerInventoryTable] CHECK CONSTRAINT [FK_SellerInventoryTable_SellersTable]
GO
ALTER TABLE [dbo].[SellerManagementTable]  WITH CHECK ADD  CONSTRAINT [FK_SellerManagementTable_DistributersTable] FOREIGN KEY([DistributerID])
REFERENCES [dbo].[DistributersTable] ([DistributerID])
GO
ALTER TABLE [dbo].[SellerManagementTable] CHECK CONSTRAINT [FK_SellerManagementTable_DistributersTable]
GO
ALTER TABLE [dbo].[SellerManagementTable]  WITH CHECK ADD  CONSTRAINT [FK_SellerManagementTable_SellersTable] FOREIGN KEY([SellerID])
REFERENCES [dbo].[SellersTable] ([SellerID])
GO
ALTER TABLE [dbo].[SellerManagementTable] CHECK CONSTRAINT [FK_SellerManagementTable_SellersTable]
GO
ALTER TABLE [dbo].[SellerRequestsTable]  WITH CHECK ADD  CONSTRAINT [FK_SellerRequestsTable_BlanketsTable] FOREIGN KEY([BlanketID])
REFERENCES [dbo].[BlanketsTable] ([BlanketID])
GO
ALTER TABLE [dbo].[SellerRequestsTable] CHECK CONSTRAINT [FK_SellerRequestsTable_BlanketsTable]
GO
ALTER TABLE [dbo].[SellerRequestsTable]  WITH CHECK ADD  CONSTRAINT [FK_SellerRequestsTable_SellersTable] FOREIGN KEY([SellerID])
REFERENCES [dbo].[SellersTable] ([SellerID])
GO
ALTER TABLE [dbo].[SellerRequestsTable] CHECK CONSTRAINT [FK_SellerRequestsTable_SellersTable]
GO
